build/AtariST/cover_pics/.DS_Store
.DS_Store
build/.DS_Store
build/AtariST/.DS_Store
build/Amiga/.DS_Store
CambridgeZ88/tdttr1.62
CambridgeZ88/tdttr1.63
CambridgeZ88/tdttr1.map
CambridgeZ88/tdttr1_BSS.bin
CambridgeZ88/tdttr1_DATA.bin
CambridgeZ88/tdttr1_bss_fardata.bin
CambridgeZ88/tdttr2.62
CambridgeZ88/tdttr2.63
CambridgeZ88/tdttr2.map
CambridgeZ88/tdttr2_BSS.bin
CambridgeZ88/tdttr2_DATA.bin
CambridgeZ88/tdttr2_bss_fardata.bin
CambridgeZ88/tdttr34.62
CambridgeZ88/tdttr34.63
CambridgeZ88/tdttr34.map
CambridgeZ88/tdttr34_BSS.bin
CambridgeZ88/tdttr34_DATA.bin
CambridgeZ88/tdttr34_bss_fardata.bin