build/AtariST/cover_pics/.DS_Store
.DS_Store
build/.DS_Store
build/AtariST/.DS_Store
build/Amiga/.DS_Store
build/CambridgeZ88/tdttr1.62
build/CambridgeZ88/tdttr1.63
build/CambridgeZ88/tdttr1.map
build/CambridgeZ88/tdttr1_BSS.bin
build/CambridgeZ88/tdttr1_DATA.bin
build/CambridgeZ88/tdttr1_bss_fardata.bin
build/CambridgeZ88/tdttr2.62
build/CambridgeZ88/tdttr2.63
build/CambridgeZ88/tdttr2.map
build/CambridgeZ88/tdttr2_BSS.bin
build/CambridgeZ88/tdttr2_DATA.bin
build/CambridgeZ88/tdttr2_bss_fardata.bin
build/CambridgeZ88/tdttr34.62
build/CambridgeZ88/tdttr34.63
build/CambridgeZ88/tdttr34.map
build/CambridgeZ88/tdttr34_BSS.bin
build/CambridgeZ88/tdttr34_DATA.bin
build/CambridgeZ88/tdttr34_bss_fardata.bin